* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.header {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.menu {
  width: 27px;
  height: 27px;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
