* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f7f7f9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Navbar */
#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: white;
  width: 23.438rem;
}

.header {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-decoration: none;
}

.menu {
  width: 24px;
  height: 24px;
}

/* Hero Section */
.hero-section {
  background-image: url(../images/header-shapes-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom-left-radius: 70px;
  background-color: white;
  height: 718px;
  width: 23.438rem;
  margin-bottom: 7.125rem;
}

.hero-section h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  text-align: left;
  padding: 12px 1.5rem;
  max-width: 327px;
}

.hero-section p {
  padding: 0 1.5rem;
  max-width: 327px;
}

.connect-text {
  padding: 12px 1.5rem;
}

.connect-text a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.social-media li {
  text-align: center;
}

.social-media ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 0 1.5rem;
  column-gap: 20px;
}

.social-media a {
  text-decoration: none;
  padding: 0;
}

/* Works Section */
.works {
  display: grid;
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: 24px 327px 24px;
  row-gap: 5.5rem;
  text-align: center;
}

.card-works {
  background-color: white;
  padding: 1rem;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  height: 34.5rem;
  text-align: left;
  grid-column: 2 / 3;
}

.card-works:nth-child(2) {
  height: 37.25rem;
}
.card-works:last-child {
  height: 37.25rem;
}

.portofolio-details {
  max-width: 295px;
}

.portofolio-details p {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #344563;
  max-width: 295px;
}

.portofolio-details h2 {
  max-width: 290px;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  color: #172b4d;
}

.frame {
  max-width: 236px;
  margin: 12px 0;
}

.frame ul {
  list-style-image: url("../images/Counter.svg");
  display: flex;
  column-gap: 25px;
  justify-content: flex-start;
  align-items: center;
}

.tag li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

.frame ul li {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.tags {
  margin-top: 12px;
  margin-bottom: 24px;
}

.tags ul {
  display: flex;
  list-style: none;
  column-gap: 0.5rem;
}

.frame ul li:nth-child(1) {
  color: #344563;
  list-style: none;
}

.portofolio-details button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  background-color: transparent;
}
